#map {
    height: 95%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#input {
    border: 1px solid black;
}

ul {
   background-color: #000000;
   font-size: 20px;
   margin: auto;
 }
   
.nav{
   background-color: #ffff66;
 }